html{box-sizing: border-box;}

*,*::after,*::before{box-sizing: inherit;}

html,body{ height: 100%;}

body{
    display: flex;
    align-items: center; justify-content: center;
    background-image: linear-gradient(30deg, #182C51, #09101e);
    overflow: hidden;
}

.moon{
    background-image: linear-gradient(30deg, #13223f, #0e1a30);
    width: 256px; height: 256px;
    border-radius: 50%;
    position: relative;
    /* border:2px solid black; */
}

.moon::before{
    content: "";
    background-image: #c7938b;

    position: absolute; display: block;
    width: 100%; height: 100%;
    border-radius: 50%;
    z-index: -1;
    animation: 3.2s cresent linear infinite alternate;
    /* border:2px solid yellow; */
}

@keyframes cresent {
    0% {
        transform: translate(-30px, 30px)scale(0.9);
        box-shadow: none;
    }
    50% {
        transform: translate(0px, 0px)scale(1.02);
        box-shadow: 0 0 10px #f9f3f2, 0 0 80px 8px #c7938b;
        background-color: #efdbd8;
    }
    100% {
        transform: translate(30px, -30px)scale(0.9);
        box-shadow: none;
    }
}

@media (max-width:768px){
    .moon{
        width: 160px;
        height: 160px;
    }
}